<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a57a9b">  <td>17/02/13 16:06:09</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;CallingCreateAccount.closeBrowser()[pri:0, instance:com.cab.pageLibrary.CallingCreateAccount@1b604f19]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@395629617</td>   <td></td> </tr>
<tr bgcolor="a57a9b">  <td>17/02/13 16:03:18</td>   <td>-171763</td> <td>&nbsp;</td><td title="&gt;&gt;CallingCreateAccount.launchApp()[pri:0, instance:com.cab.pageLibrary.CallingCreateAccount@1b604f19]">&gt;&gt;launchApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@395629617</td>   <td></td> </tr>
<tr bgcolor="a57a9b">  <td>17/02/13 16:03:59</td>   <td>-130256</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CallingCreateAccount.loginApp()[pri:0, instance:com.cab.pageLibrary.CallingCreateAccount@1b604f19]">loginApp</td> 
  <td>main@395629617</td>   <td></td> </tr>
</table>
